# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
/FiguresResults
*.png
Results 2025-02-10_20-21-52/NMDSdata1.csv
Results 2025-02-10_20-21-52/NMDSdata10.csv
Results 2025-02-10_20-21-52/NMDSdata11.csv
Results 2025-02-10_20-21-52/NMDSdata12.csv
Results 2025-02-10_20-21-52/NMDSdata13.csv
Results 2025-02-10_20-21-52/NMDSdata14.csv
Results 2025-02-10_20-21-52/NMDSdata15.csv
Results 2025-02-10_20-21-52/NMDSdata16.csv
Results 2025-02-10_20-21-52/NMDSdata17.csv
Results 2025-02-10_20-21-52/NMDSdata18.csv
Results 2025-02-10_20-21-52/NMDSdata19.csv
Results 2025-02-10_20-21-52/NMDSdata2.csv
Results 2025-02-10_20-21-52/NMDSdata20.csv
Results 2025-02-10_20-21-52/NMDSdata21.csv
Results 2025-02-10_20-21-52/NMDSdata22.csv
Results 2025-02-10_20-21-52/NMDSdata23.csv
Results 2025-02-10_20-21-52/NMDSdata24.csv
Results 2025-02-10_20-21-52/NMDSdata25.csv
Results 2025-02-10_20-21-52/NMDSdata26.csv
Results 2025-02-10_20-21-52/NMDSdata27.csv
Results 2025-02-10_20-21-52/NMDSdata28.csv
Results 2025-02-10_20-21-52/NMDSdata29.csv
Results 2025-02-10_20-21-52/NMDSdata3.csv
Results 2025-02-10_20-21-52/NMDSdata30.csv
Results 2025-02-10_20-21-52/NMDSdata4.csv
Results 2025-02-10_20-21-52/NMDSdata5.csv
Results 2025-02-10_20-21-52/NMDSdata6.csv
Results 2025-02-10_20-21-52/NMDSdata7.csv
Results 2025-02-10_20-21-52/NMDSdata8.csv
Results 2025-02-10_20-21-52/NMDSdata9.csv
Results 2025-02-10_20-26-07/NMDSdata1.csv
Results 2025-02-10_20-26-07/NMDSdata10.csv
Results 2025-02-10_20-26-07/NMDSdata11.csv
Results 2025-02-10_20-26-07/NMDSdata12.csv
Results 2025-02-10_20-26-07/NMDSdata13.csv
Results 2025-02-10_20-26-07/NMDSdata14.csv
Results 2025-02-10_20-26-07/NMDSdata15.csv
Results 2025-02-10_20-26-07/NMDSdata16.csv
Results 2025-02-10_20-26-07/NMDSdata17.csv
Results 2025-02-10_20-26-07/NMDSdata18.csv
Results 2025-02-10_20-26-07/NMDSdata19.csv
Results 2025-02-10_20-26-07/NMDSdata2.csv
Results 2025-02-10_20-26-07/NMDSdata20.csv
Results 2025-02-10_20-26-07/NMDSdata21.csv
Results 2025-02-10_20-26-07/NMDSdata22.csv
Results 2025-02-10_20-26-07/NMDSdata23.csv
Results 2025-02-10_20-26-07/NMDSdata24.csv
Results 2025-02-10_20-26-07/NMDSdata25.csv
Results 2025-02-10_20-26-07/NMDSdata26.csv
Results 2025-02-10_20-26-07/NMDSdata27.csv
Results 2025-02-10_20-26-07/NMDSdata28.csv
Results 2025-02-10_20-26-07/NMDSdata29.csv
Results 2025-02-10_20-26-07/NMDSdata3.csv
Results 2025-02-10_20-26-07/NMDSdata30.csv
Results 2025-02-10_20-26-07/NMDSdata4.csv
Results 2025-02-10_20-26-07/NMDSdata5.csv
Results 2025-02-10_20-26-07/NMDSdata6.csv
Results 2025-02-10_20-26-07/NMDSdata7.csv
Results 2025-02-10_20-26-07/NMDSdata8.csv
Results 2025-02-10_20-26-07/NMDSdata9.csv
Results 2025-02-10_20-29-18/NMDSdata1.csv
Results 2025-02-10_20-29-18/NMDSdata10.csv
Results 2025-02-10_20-29-18/NMDSdata11.csv
Results 2025-02-10_20-29-18/NMDSdata12.csv
Results 2025-02-10_20-29-18/NMDSdata13.csv
Results 2025-02-10_20-29-18/NMDSdata14.csv
Results 2025-02-10_20-29-18/NMDSdata15.csv
Results 2025-02-10_20-29-18/NMDSdata16.csv
Results 2025-02-10_20-29-18/NMDSdata17.csv
Results 2025-02-10_20-29-18/NMDSdata18.csv
Results 2025-02-10_20-29-18/NMDSdata19.csv
Results 2025-02-10_20-29-18/NMDSdata2.csv
Results 2025-02-10_20-29-18/NMDSdata20.csv
Results 2025-02-10_20-29-18/NMDSdata21.csv
Results 2025-02-10_20-29-18/NMDSdata22.csv
Results 2025-02-10_20-29-18/NMDSdata23.csv
Results 2025-02-10_20-29-18/NMDSdata24.csv
Results 2025-02-10_20-29-18/NMDSdata25.csv
Results 2025-02-10_20-29-18/NMDSdata26.csv
Results 2025-02-10_20-29-18/NMDSdata27.csv
Results 2025-02-10_20-29-18/NMDSdata28.csv
Results 2025-02-10_20-29-18/NMDSdata29.csv
Results 2025-02-10_20-29-18/NMDSdata3.csv
Results 2025-02-10_20-29-18/NMDSdata30.csv
Results 2025-02-10_20-29-18/NMDSdata4.csv
Results 2025-02-10_20-29-18/NMDSdata5.csv
Results 2025-02-10_20-29-18/NMDSdata6.csv
Results 2025-02-10_20-29-18/NMDSdata7.csv
Results 2025-02-10_20-29-18/NMDSdata8.csv
Results 2025-02-10_20-29-18/NMDSdata9.csv
Results 2025-02-10_20-33-35/NMDSdata1.csv
Results 2025-02-10_20-33-35/NMDSdata10.csv
Results 2025-02-10_20-33-35/NMDSdata11.csv
Results 2025-02-10_20-33-35/NMDSdata12.csv
Results 2025-02-10_20-33-35/NMDSdata13.csv
Results 2025-02-10_20-33-35/NMDSdata14.csv
Results 2025-02-10_20-33-35/NMDSdata2.csv
Results 2025-02-10_20-33-35/NMDSdata3.csv
Results 2025-02-10_20-33-35/NMDSdata4.csv
Results 2025-02-10_20-33-35/NMDSdata5.csv
Results 2025-02-10_20-33-35/NMDSdata6.csv
Results 2025-02-10_20-33-35/NMDSdata7.csv
Results 2025-02-10_20-33-35/NMDSdata8.csv
Results 2025-02-10_20-33-35/NMDSdata9.csv
Results 2025-02-10_20-35-23/NMDSdata1.csv
Results 2025-02-10_20-35-23/NMDSdata10.csv
Results 2025-02-10_20-35-23/NMDSdata11.csv
Results 2025-02-10_20-35-23/NMDSdata12.csv
Results 2025-02-10_20-35-23/NMDSdata13.csv
Results 2025-02-10_20-35-23/NMDSdata14.csv
Results 2025-02-10_20-35-23/NMDSdata15.csv
Results 2025-02-10_20-35-23/NMDSdata16.csv
Results 2025-02-10_20-35-23/NMDSdata17.csv
Results 2025-02-10_20-35-23/NMDSdata18.csv
Results 2025-02-10_20-35-23/NMDSdata19.csv
Results 2025-02-10_20-35-23/NMDSdata2.csv
Results 2025-02-10_20-35-23/NMDSdata20.csv
Results 2025-02-10_20-35-23/NMDSdata21.csv
Results 2025-02-10_20-35-23/NMDSdata22.csv
Results 2025-02-10_20-35-23/NMDSdata23.csv
Results 2025-02-10_20-35-23/NMDSdata24.csv
Results 2025-02-10_20-35-23/NMDSdata25.csv
Results 2025-02-10_20-35-23/NMDSdata26.csv
Results 2025-02-10_20-35-23/NMDSdata27.csv
Results 2025-02-10_20-35-23/NMDSdata28.csv
Results 2025-02-10_20-35-23/NMDSdata29.csv
Results 2025-02-10_20-35-23/NMDSdata3.csv
Results 2025-02-10_20-35-23/NMDSdata30.csv
Results 2025-02-10_20-35-23/NMDSdata4.csv
Results 2025-02-10_20-35-23/NMDSdata5.csv
Results 2025-02-10_20-35-23/NMDSdata6.csv
Results 2025-02-10_20-35-23/NMDSdata7.csv
Results 2025-02-10_20-35-23/NMDSdata8.csv
Results 2025-02-10_20-35-23/NMDSdata9.csv
Results 2025-02-10_20-44-41/NMDSdata1.csv
Results 2025-02-10_20-46-06/NMDSdata1.csv
Results 2025-02-10_20-46-06/NMDSdata2.csv
Results 2025-02-10_20-46-06/NMDSdata3.csv
Results 2025-02-10_20-46-06/NMDSdata4.csv
Results 2025-02-10_20-46-06/NMDSdata5.csv
Results 2025-02-10_20-48-10/NMDSdata1.csv
Results 2025-02-10_20-48-10/NMDSdata2.csv
Results 2025-02-10_20-48-10/NMDSdata3.csv
Results 2025-02-10_20-48-10/NMDSdata4.csv
Results 2025-02-10_20-48-10/NMDSdata5.csv
Results 2025-02-10_20-52-13/NMDSdata1.csv
Results 2025-02-10_20-52-13/NMDSdata2.csv
Results 2025-02-10_20-55-17/NMDSdata1.csv
Results 2025-02-10_20-55-17/NMDSdata2.csv
Results 2025-02-10_20-55-17/NMDSdata3.csv
Results 2025-02-10_20-55-17/NMDSdata4.csv
Results 2025-02-10_20-55-17/NMDSdata5.csv
Results 2025-02-11_11-49-47.zip
Results 2025-02-11_11-49-47/NMDSdata1.csv
Results 2025-02-11_11-49-47/NMDSdata10.csv
Results 2025-02-11_11-49-47/NMDSdata11.csv
Results 2025-02-11_11-49-47/NMDSdata12.csv
Results 2025-02-11_11-49-47/NMDSdata13.csv
Results 2025-02-11_11-49-47/NMDSdata14.csv
Results 2025-02-11_11-49-47/NMDSdata15.csv
Results 2025-02-11_11-49-47/NMDSdata16.csv
Results 2025-02-11_11-49-47/NMDSdata17.csv
Results 2025-02-11_11-49-47/NMDSdata18.csv
Results 2025-02-11_11-49-47/NMDSdata19.csv
Results 2025-02-11_11-49-47/NMDSdata2.csv
Results 2025-02-11_11-49-47/NMDSdata20.csv
Results 2025-02-11_11-49-47/NMDSdata3.csv
Results 2025-02-11_11-49-47/NMDSdata4.csv
Results 2025-02-11_11-49-47/NMDSdata5.csv
Results 2025-02-11_11-49-47/NMDSdata6.csv
Results 2025-02-11_11-49-47/NMDSdata7.csv
Results 2025-02-11_11-49-47/NMDSdata8.csv
Results 2025-02-11_11-49-47/NMDSdata9.csv
Results 2025-02-11_11-49-47/success.csv
Protocol1Results/IndividualResults 0.0499999999999999/NMDSdata1.csv
Protocol1Results/IndividualResults 0.0499999999999999/NMDSdata2.csv
Protocol1Results/IndividualResults 0.0499999999999999/NMDSdata3.csv
Protocol1Results/IndividualResults 0.0499999999999999/NMDSdata4.csv
Protocol1Results/IndividualResults 0.0499999999999999/NMDSdata5.csv
Protocol1Results/IndividualResults 0.0999999999999999/NMDSdata1.csv
Protocol1Results/IndividualResults 0.0999999999999999/NMDSdata2.csv
Protocol1Results/IndividualResults 0.0999999999999999/NMDSdata3.csv
Protocol1Results/IndividualResults 0.0999999999999999/NMDSdata4.csv
Protocol1Results/IndividualResults 0.0999999999999999/NMDSdata5.csv
Protocol1Results/IndividualResults 0.15/NMDSdata1.csv
Protocol1Results/IndividualResults 0.15/NMDSdata2.csv
Protocol1Results/IndividualResults 0.15/NMDSdata3.csv
Protocol1Results/IndividualResults 0.15/NMDSdata4.csv
Protocol1Results/IndividualResults 0.15/NMDSdata5.csv
Protocol1Results/IndividualResults 0.2/NMDSdata1.csv
Protocol1Results/IndividualResults 0.2/NMDSdata2.csv
Protocol1Results/IndividualResults 0.2/NMDSdata3.csv
Protocol1Results/IndividualResults 0.2/NMDSdata4.csv
Protocol1Results/IndividualResults 0.2/NMDSdata5.csv
Protocol1Results/IndividualResults 0.25/NMDSdata1.csv
Protocol1Results/IndividualResults 0.25/NMDSdata2.csv
Protocol1Results/IndividualResults 0.25/NMDSdata3.csv
Protocol1Results/IndividualResults 0.25/NMDSdata4.csv
Protocol1Results/IndividualResults 0.25/NMDSdata5.csv
Protocol1Results/IndividualResults 0.3/NMDSdata1.csv
Protocol1Results/IndividualResults 0.3/NMDSdata2.csv
Protocol1Results/IndividualResults 0.3/NMDSdata3.csv
Protocol1Results/IndividualResults 0.3/NMDSdata4.csv
Protocol1Results/IndividualResults 0.3/NMDSdata5.csv
Protocol1Results/IndividualResults 0.35/NMDSdata1.csv
Protocol1Results/IndividualResults 0.35/NMDSdata2.csv
Protocol1Results/IndividualResults 0.35/NMDSdata3.csv
Protocol1Results/IndividualResults 0.35/NMDSdata4.csv
Protocol1Results/IndividualResults 0.35/NMDSdata5.csv
Protocol1Results/IndividualResults 0.4/NMDSdata1.csv
Protocol1Results/IndividualResults 0.4/NMDSdata2.csv
Protocol1Results/IndividualResults 0.4/NMDSdata3.csv
Protocol1Results/IndividualResults 0.4/NMDSdata4.csv
Protocol1Results/IndividualResults 0.4/NMDSdata5.csv
Protocol1Results/IndividualResults 0.45/NMDSdata1.csv
Protocol1Results/IndividualResults 0.45/NMDSdata2.csv
Protocol1Results/IndividualResults 0.45/NMDSdata3.csv
Protocol1Results/IndividualResults 0.45/NMDSdata4.csv
Protocol1Results/IndividualResults 0.45/NMDSdata5.csv
Protocol1Results/IndividualResults 0.5/NMDSdata1.csv
Protocol1Results/IndividualResults 0.5/NMDSdata2.csv
Protocol1Results/IndividualResults 0.5/NMDSdata3.csv
Protocol1Results/IndividualResults 0.5/NMDSdata4.csv
Protocol1Results/IndividualResults 0.5/NMDSdata5.csv
Protocol1Results/IndividualResults 0.55/NMDSdata1.csv
Protocol1Results/IndividualResults 0.55/NMDSdata2.csv
Protocol1Results/IndividualResults 0.55/NMDSdata3.csv
Protocol1Results/IndividualResults 0.55/NMDSdata4.csv
Protocol1Results/IndividualResults 0.55/NMDSdata5.csv
Protocol1Results/IndividualResults 0.6/NMDSdata1.csv
Protocol1Results/IndividualResults 0.6/NMDSdata2.csv
Protocol1Results/IndividualResults 0.6/NMDSdata3.csv
Protocol1Results/IndividualResults 0.6/NMDSdata4.csv
Protocol1Results/IndividualResults 0.6/NMDSdata5.csv
Protocol1Results/IndividualResults 0.65/NMDSdata1.csv
Protocol1Results/IndividualResults 0.65/NMDSdata2.csv
Protocol1Results/IndividualResults 0.65/NMDSdata3.csv
Protocol1Results/IndividualResults 0.65/NMDSdata4.csv
Protocol1Results/IndividualResults 0.65/NMDSdata5.csv
Protocol1Results/IndividualResults 0.7/NMDSdata1.csv
Protocol1Results/IndividualResults 0.7/NMDSdata2.csv
Protocol1Results/IndividualResults 0.7/NMDSdata3.csv
Protocol1Results/IndividualResults 0.7/NMDSdata4.csv
Protocol1Results/IndividualResults 0.7/NMDSdata5.csv
Protocol1Results/IndividualResults 0.75/NMDSdata1.csv
Protocol1Results/IndividualResults 0.75/NMDSdata2.csv
Protocol1Results/IndividualResults 0.75/NMDSdata3.csv
Protocol1Results/IndividualResults 0.75/NMDSdata4.csv
Protocol1Results/IndividualResults 0.75/NMDSdata5.csv
Protocol1Results/IndividualResults 0.8/NMDSdata1.csv
Protocol1Results/IndividualResults 0.8/NMDSdata2.csv
Protocol1Results/IndividualResults 0.8/NMDSdata3.csv
Protocol1Results/IndividualResults 0.8/NMDSdata4.csv
Protocol1Results/IndividualResults 0.8/NMDSdata5.csv
Protocol1Results/IndividualResults 0.85/NMDSdata1.csv
Protocol1Results/IndividualResults 0.85/NMDSdata2.csv
Protocol1Results/IndividualResults 0.85/NMDSdata3.csv
Protocol1Results/IndividualResults 0.85/NMDSdata4.csv
Protocol1Results/IndividualResults 0.85/NMDSdata5.csv
Protocol1Results/IndividualResults 0.9/NMDSdata1.csv
Protocol1Results/IndividualResults 0.9/NMDSdata2.csv
Protocol1Results/IndividualResults 0.9/NMDSdata3.csv
Protocol1Results/IndividualResults 0.9/NMDSdata4.csv
Protocol1Results/IndividualResults 0.9/NMDSdata5.csv
Protocol1Results/IndividualResults 0.95/NMDSdata1.csv
Protocol1Results/IndividualResults 0.95/NMDSdata2.csv
Protocol1Results/IndividualResults 0.95/NMDSdata3.csv
Protocol1Results/IndividualResults 0.95/NMDSdata4.csv
Protocol1Results/IndividualResults 0.95/NMDSdata5.csv
Protocol1Results/IndividualResults 0/NMDSdata1.csv
Protocol1Results/IndividualResults 0/NMDSdata2.csv
Protocol1Results/IndividualResults 0/NMDSdata3.csv
Protocol1Results/IndividualResults 0/NMDSdata4.csv
Protocol1Results/IndividualResults 0/NMDSdata5.csv
